@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro:700');

body{
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,202,45,1) 100%);
}

h5{
	font-family: 'Abel', sans-serif;
	font-weight:400;
}

h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
}

#menu{
	position: fixed;
	bottom:2rem;
	right:2.5rem;
}

.bg-verde{
	background: rgba(205, 220, 57, 1.00);
}